<h1>全ての商品一覧</h1>
<% @itemes.each do |item| %>
     <%= link_to admin_item_path(item.id) do %>
     <%= image_tag item.get_item_image(150,150) %>
    <% end %>
    <%= item.name %><br>
    <%= item.price %>
<%end%>



